<%
  done ||= false 
  admin_mode ||= false
%>
  <tr>
    <td>
      <b>
        <%= assignment.member.full_name %>
        <% if admin_mode %>
          <% if not assignment.member.annotation.blank? %>
            <button type="button" class="btn btn-link btn-sm" style="cursor: pointer;" data-toggle="modal" data-target="#theModal" data-href="/annotations/<%= assignment.member.annotation.id %>.htmlp"><span class="oi oi-magnifying-glass"></span></button>
          <% end %>
        <% end %>
      </b>

      
    </td>
    <td id="member_<%= assignment.member.id %>_qualifiaction">
      <%= render "assignments/qualification_level_badge", member: assignment.member %>
    </td>

    <td>
      <span class="assignment_approved_value">
          <%= assignment.approved ? "Zugewiesen" : "Beworben" %>
      </span>
    </td>


    <td>
      <% if admin_mode and done == false %>
         <%= render 'assignments/actions', assignment: assignment %>
      <% end %>
    </td>
  </tr>