<%= render "common/validation_msg_box", resource: task %>

<%= form_for task do |f| %>
  <% if params[:origin] %>
    <%= hidden_field_tag "origin", params[:origin] %>
  <% end -%>
	<div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :titel %>
        <%= f.text_field :title, class:"form-control" %>
      </div>

      <div class="form-group">
        <label>Ausführung durch anderes Mitglied</label>
        <%= f.hidden_field :assigned_member_id, class:"form-control" %>
        <%= render "members/suggest", target_html_id: "task_assigned_member_id", target_member: task.assigned_member, mandate_id: task.mandate_id %>
      </div>

      <div class="form-group">
        <%= f.label :deadline %> <small class="text-muted">Format: 01.01.2017</small> 
        <%= f.text_field :deadline_string, value: task.deadline ? task.deadline.strftime("%d.%m.%Y") : "", class:"form-control", data: { date_autoclose:"true", provide:"datepicker", date_format:"dd.mm.yyyy" } %>
    

      </div>
  	  <%= f.submit "Speichern", class: "btn btn-primary" %>

    </div>
  </div>
<% end %>

