<div class="row my-3">
	<div class="col-4"><button class="btn btn-sm calendar_navigation" onclick="$('#calendar_wrapper').load('/events/calendar.htmlp?date=<%= @date - 1.month %>')"><span class="oi oi-chevron-left"></span></button></div>
	<div class="col-4" align="center"><%= @date.strftime("%B") %></div>
	<div class="col-4" align="right"><button class="btn btn-sm calendar_navigation" onclick="$('#calendar_wrapper').load('/events/calendar.htmlp?date=<%= @date + 1.month %>')"><span class="oi oi-chevron-right"></span></button></div>
</div>

<%= calendar @date do |date| %>
  <%= date.day %>
  <% if events[date] %>
      <br>
      <% events[date].each do |ev| %>
        <button class="btn btn-sm btn-link p-0 m-0 <%= 'text-warning' if ev.type == 'Course' %> <%= 'text-danger' if ev.type == 'Consultation' %>" data-toggle="modal" data-target="#theModal" data-href="/events/<%= ev.id %>.htmlp"><%= ev.title %></button><br>
      <% end %>
  <% end %>
<% end %>

<div class="card">
	<div class="card-header h6">
		Terminliste
	</div>
	<ul class="list-group list-group-flush" id="tasks_listing">
		<% for date in events.keys %>
			<% for ev in events[date] %>
				<a href="#" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#theModal" data-href="/events/<%= ev.id %>.htmlp">
					<b class="m-0 p-0 text-dark"><%= l date %></b>
					<span class="<%= 'text-warning' if ev.type == 'Course' %> <%= 'text-danger' if ev.type == 'Consultation' %>">
						<%= ev.title %>
					</span>
				</a>
			<% end -%>
		<% end -%>
	</ul>
	<div class="card-footer small border-top-0">
		<span class="oi mr-1 oi-media-record text-warning"></span> Schulung/Vorlesung<br>
		<span class="oi mr-1 oi-media-record text-primary"></span> Event<br>
		<span class="oi mr-1 oi-media-record text-danger"></span> Sprechstunde 
	</div>
</div>