<div class="row">
  <div class="col-md-9">
    <h2><%= (t 'domain_model.mandates') + ' verwalten' %></h2>
  </div>
  <div class="col-md-3" align="right">
    <%= render "common/plus", path: new_mandate_path %>
  </div>
</div>

  <div align="center">

  <% if not @from and not @supervision %>
    <span data-toggle="tooltip" data-placement="bottom" title="Zeigt alle Mandate an, die noch keine Supervision erfahren haben, und die weiterhin entweder aktiv sind oder auf Abnahme warten und noch nicht archiviert sind." >
      <%= link_to "Supervisionsfilter", mandates_url+"?supervision=true", class: "btn btn-secondary btn-sm" %>
    </span>
  <% end %>

  <% if not @from and not @supervision %>
      <%= render 'common/show_archived', path: mandates_url %>
  <% end %>
</div>


<% if @from or @supervision%>
    <%= render 'common/show_open', path: mandates_url %>
    &nbsp;
  <%= render "listing", mandates: @mandates, show_pencil: true, show_assignments: true, show_icons: false, show_assignment_actions: false %>
<% else %>
    &nbsp;
  <%= render "listing", mandates: @mandates, show_pencil: true, show_assignments: true, show_icons: true, show_assignment_actions: true %>
<% end %>

&nbsp;



<%= render 'common/load_more', path: mandates_url, from: @from, count: @count %>
