<% @ps = request.params; @ps.delete("controller"); @ps.delete("action") %>
<form>
    <div class="row">
        <div class="col-md-5 mb-1">
            <%= select_tag("qualification_cached", options_for_select(QUALIFICATION_LEVELS.map.with_index { |e, i| [e, i] }, (params[:qualification_cached].blank? ? "" : params[:qualification_cached])), { include_blank: "Alle Qualifikationen", class: "form-control"}) %>
        </div>
        <div class="col-md-6" align="right">
            <div class="form-group form-row">
                <input name="query" value="<%= params[:query] %>" placeholder="Name, optional" class="form-control" >
                <% @ps.each_pair { |name, val| next if name == "query" or name == "offset" or name == "qualification_cached"; %> <input type="hidden" name="<%= name %>" value="<%= val %>"/> <% } %>
            </div>
        </div>
        <div class="col-md-1" align="right">
            <button type="submit" class="btn btn-primary">Suche</button>
        </div>
    </div>
</form>
<div class="row" align="right">
    <div class="col">
        <% if @offset > 0 and @offset > @limit-1 %>
        <a href="<%= request.path + "?" + (@ps.merge(offset: @offset-@limit)).to_param %>" class="btn btn-primary btn-sm">zurück</a>
        <% end -%>
        <% if @offset < @size-@limit %>
        <a href="<%= request.path + "?" + (@ps.merge(offset: @offset+@limit)).to_param %>" class="btn btn-primary btn-sm">weiter</a>
        <% end -%>
        <p class="mt-1 mb-0 small"><%= @offset+1 %>-<%= @offset+@members.count %> von <%= @size %></p>
    </div>
</div>